<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>scanmap</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?{{ config.VERSION }}">

  {% block meta %}
      <meta property="og:site_name" content="scanmap">
      <meta property="og:type" content="website">
      <meta property="og:description" content="mapping scanners">
      <meta property="og:title" content="scanmap">
      <meta name="twitter:card" content="summary">
      <meta name="twitter:title" content="scanmap">
      <meta name="twitter:description" content="mapping scanners">
  {% endblock %}
</head>

<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
