{% extends 'layout.html' %}
{% block head %}
<script src="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css" rel="stylesheet" />
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.0/mapbox-gl-draw.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.0/mapbox-gl-draw.css' rel='stylesheet' type='text/css' />
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v0.10.1/mapbox-gl-language.js'></script>
{% endblock %}

{% block content %}
<div id="stage">
    <div id="map"></div>
    <div id="bar">
        <div id="pinned-log">
            <div id="pinned-hide">x</div>
            <div id="pinned-log-text"></div>
        </div>
        <div id="log">
            <div id="log-tabs">
                <div data-type="event" class="log-tab selected" translate>Events</div>
                <div data-type="static" class="log-tab" translate>Points of Interest</div>
            </div>
            <div id="event-logs" class="logs selected">
                <div class="no-log" translate>No recent posts</div>
            </div>
            <div id="static-logs" class="logs">
                <div class="no-log" translate>No recent posts</div>
            </div>
        </div>
        <div id="info">
            <div id="info-toggle">▼</div>
            <div id="info-body">
                <div>{{ conf.INFO | safe }}</div>
                <div id="toggles">
                    {% set extras = conf.EXTRAS|default({}) %}
                    {% if extras.CAMERAS %}
                        <div id="toggle-cams"><input type="checkbox" autocomplete="off" id="cam-toggle-input"> <label for="cam-toggle-input" translate>Traffic cams</label></div>
                    {% endif %}
                    {% if extras.HELICOPTERS %}
                        <div id="toggle-helicopters"><input type="checkbox" autocomplete="off" id="helicopters-toggle-input"> <label for="helicopters-toggle-input" translate>Helicopters</label></div>
                    {% endif %}
                    {% if extras.PRECINCTS %}
                        <div id="toggle-precincts"><input type="checkbox" autocomplete="off" id="precincts-toggle-input"> <label for="precincts-toggle-input" translate>Precincts</label></div>
                    {% endif %}
                    <div id="toggle-static"><input type="checkbox" autocomplete="off" id="static-toggle-input"> <label for="static-toggle-input" translate>Points of Interest</label></div>
                </div>
                <div id="add" translate>If you have a key, click here to start adding.</div>
                <div id="legend"></div>
            </div>
        </div>
    </div>
    <div id="overlay">
        <div id="intro">
            <h2>How to help</h2>
            <ul class="help">
                <li>1. Add a note describing the report, with relevant details. For example, if people are arrested ("under"), note how many. <b>Verify as much as you can, especially if it involves shooting.</b> We don't want to spread misinformation or incite panic.</li>
                <li>2. Add a location. Add cross streets if possible.</li>
                <li>3a. Click the search icon to find possible coordinates for the location. Click on one of the results to set it.</li>
                <li>3b. Alternatively, click on the map to set the location.</li>
                <li>4. Add a label/icon so we can easily identify the activity.</li>
                <li>5. Submit. There may be a short delay before your submission appears on the map.</li>
            </ul>

            <ul>
                <li><b>Please limit to information that is useful for people on the ground.</b> We are trying to ensure that people remain safe and unharmed.</li>
                <li><b>Please keep the information related to the protests.</b> You may hear 911 chatter, which is not necessarily useful for people on the ground.</li>
                <li><b>Try to confirm information before reporting, if possible.</b> Reports of "shots fired" for instance can cause panic and need additional verification.</li>
                <li><b>Avoid mentioning identifying information about protestors.</b></li>
                <li><b>Avoid using police jargon/language and framing.</b></li>
            </p>

            <div>{{ conf.INFO | safe }}</div>
            <button id="ready" translate>Got it</button>
        </div>
    </div>
    <div id="auth-status"></div>
    <div id="append">
        <div id="append-tabs">
            <div data-type="event" class="append-tab selected" translate>Event</div>
            <div data-type="static" class="append-tab" translate>Point of Interest</div>
        </div>
        <div id="append-form">
            <div id="coordinates-type">
                <div>
                    <span translate>Type</span>:
                    <ul>
                        <li data-type="point" class="selected" translate>Point</li>
                        <li data-type="area" translate>Area</li>
                    </ul>
                </div>
                <div id="coordinates-type--hint">
                    <div data-type="point" class="selected" translate>Click on map to set point</div>
                    <div data-type="area" translate>Double-click to enable draw mode</div>
                </div>
            </div>
            <input id="text" type="text" placeholder="Note" />
            <div id="location-search-field">
                <input id="location" type="text" placeholder="Location" />
                <div id="location-search">🔍</div>
            </div>
            <input id="coordinates" type="text" readonly autocomplete="off" />
            <ul id="coord-results"></ul>
            <select id="label"></select>
            <div>
                <label for="image" translate>Photo</label>
                <input id="image" type="file" />
            </div>
            <input id="submit" type="submit" value="Submit" />
            <div class="extra-info">
                <div id="event-hint" class="hint" translate>Events disappear from the map after 24 hours</div>
                <div id="static-hint" class="hint" translate>Points of interest stay on the map indefinitely</div>
                <div id="show-help" translate>Help</div>
            </div>
        </div>
        <div id="error"></div>
        <div id="status"></div>
    </div>
</div>
<script>
const MAP_CENTER = {{ conf.MAP['CENTER'] }};
const MAP_ZOOM = {{ conf.MAP['ZOOM'] }};
const VERSION = '{{ config.VERSION }}';
const SSE_URL = '{{url_for("sse.stream", channel=location)}}'
</script>
<script src="{{ url_for('static', filename='dist/main.js') }}?{{config.VERSION}}"></script>
{% endblock %}
