{% extends 'layout.html' %}

{% block content %}
<div id="panel">
    <div id="panel-errors"></div>
    <input id="key" type="text" placeholder="Key" autocomplete="off" />
    <div id="panel-main">
        <div id="manage-keys">
            <ul id="keys"></ul>
            <div id="add-key" class="action">Add Key</div>
        </div>
        <div id="manage-pinned">
            <textarea id="pinned" placeholder="Pinned Message" autocomplete="off"></textarea>
            <div id="set-pinned" class="action">Set Pinned Message</div>
            <div id="set-pinned-status"></div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='dist/panel.js') }}"></script>
{% endblock %}

