{% extends 'layout.html' %}

{% block content %}
<div id="panel">
    <div id="panel-errors"></div>
    <input id="key" type="text" placeholder="Key" autocomplete="off" />
    <div id="panel-main">
        <div id="manage-keys">
            <ul id="keys"></ul>
            <div class="actions">
                <span id="add-key" class="action">Add Key</span>
                <span id="add-prime-key" class="action">Add Admin Key</span>
            </div>
        </div>
        <div id="manage-pinned">
            <textarea id="pinned" placeholder="Pinned Message" autocomplete="off"></textarea>
            <div class="actions">
                <span id="set-pinned" class="action">Set Pinned Message</span>
            </div>
            <div id="set-pinned-status"></div>
        </div>
        <div id="manage-labels">
            <h2>Labels</h2>
            <ul id="labels"></ul>
            <div class="actions">
                <label for="label">Label:</label>
                <input id="label" type="text", autocomplete="off">
                <label for="icon">Icon:</label>
                <input id="icon" type="text", autocomplete="off" maxlength="2">
                <span id="add-label" class="action">Add Label</span>
            </div>
        </div>
        <div id="panel-logs">
            <h4>Admin logs</h4>
            <ul id="logs"></ul>
        </div>
    </div>
</div>
<script>
const HERE = '/{{ location }}';
</script>
<script src="{{ url_for('static', filename='dist/panel.js') }}"></script>
{% endblock %}

